/*------------------------------------------------------------------------------
Template : Rovast - Corporate HTML5 Template
Author: JIllur Rahman
Author URI: www.developerjillur.me
Version: 1.0.0

Note: shortcodes.css, All Shortcode related style included by this file. 

-------------------------------------------------------------------------------*/

@import url("header.css");
@import url("slider.css");
@import url("footer.css");
@import url("theme-default.css");